@import 'nib/gradients'
@import 'nib/reset'
@import 'nib/vendor'
@import 'nib/clearfix'

global-reset()
@import 'grid'
@import 'slideshow'

$fontsize = 19px
$lineheight = 26px

body
  color #111
  font-smoothing antialiased
  -webkit-font-smoothing antialiased

body
input
select
textarea
button
  font-family helvetica, arial, serif

a
a:hover
a:active
a:visited
  color #000

  
// === TYPOGRAPHY ===

$leadmargin = 0.5

h1
  font-size $fontsize * 2
  margin-bottom @font-size * $leadmargin

h2
  font-size $fontsize * 1.5
  margin-bottom @font-size * $leadmargin

h3
  font-size $fontsize * 1.3
  margin-bottom @font-size * $leadmargin

h4, p
  font-size $fontsize * 1
  margin-bottom @font-size * $leadmargin
  line-height $lineheight * 1

h5
  font-size $fontsize * 0.8
  margin-bottom @font-size * $leadmargin