@import 'nib/gradients'
@import 'nib/reset'
@import 'nib/vendor'
@import 'nib/clearfix'

global-reset()
@import 'grid'
@import 'slideshow'

body
  font-family "ff-meta-serif-web-pro", serif
  font-smoothing antialiased
  -webkit-font-smoothing antialiased

$fontsize = 16px
$lineheight = 22px

header

footer

section#introduction

section#products

section#features
